Repository merioye/MERN-Ecommerce-Microservices: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:fix, pnpm run format:fix

.lintstagedrc.json:

{
  "*.{ts,mts,tsx}": ["pnpm run lint:fix"],
  "*.{json,ts,js,mjs,mts,jsx,tsx,html,css,scss}": ["pnpm run format:fix"]
}

chore: add .editorconfig
  .editorconfig
  apps/client/web/.prettierignore
Due: none

chore: add license
  LICENSE
  apps/client/web/next-env.d.ts
  apps/client/web/tsconfig.json
  package.json
Due: pnpm run lint:fix, pnpm run format:fix

chore: configure dev,start tasks in monorepo
  .lintstagedrc.json
  apps/api/auth/ecosystem.config.json
  apps/api/auth/package.json
  apps/api/auth/src/app.controller.ts
  apps/api/auth/src/app.module.ts
  apps/api/auth/src/app.service.ts
  apps/api/auth/src/main.ts
  apps/api/auth/tsconfig.build.json
  apps/api/sample/ecosystem.config.json
  apps/api/sample/package.json
  apps/api/sample/src/index.ts
  apps/api/sample/tsconfig.build.json
  apps/client/web/next-env.d.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Due: pnpm run lint:fix, pnpm run format:fix

chore: add changesets to version packages
  .changeset/README.md
  .changeset/config.json
  libraries/config-cypress/package.json
  libraries/config-eslint/package.json
  libraries/config-jest/package.json
  libraries/config-prettier/package.json
  libraries/config-typescript/package.json
  libraries/config-vitest/package.json
  package.json
  pnpm-lock.yaml
Due: pnpm run format:fix

feat: application containerization in progress
  .dockerignore
  .npmrc
  .nvmrc
  Dockerfile
  TODO.md
  docker-compose.infra.yaml
  docker-compose.local.yaml
  docker-compose.remote.yaml
  package.json
  pnpm-lock.yaml
  turbo.json
Due: pnpm run format:fix

docs: add README.md
  README.md
  apps/api/auth/README.md
  apps/api/auth/package.json
  apps/api/sample/package.json
  apps/client/admin/README.md
  apps/client/admin/package.json
  apps/client/web/README.md
  apps/client/web/package.json
  libraries/config-cypress/package.json
  libraries/config-eslint/README.md
  libraries/config-eslint/package.json
  libraries/config-jest/package.json
  libraries/config-prettier/package.json
  libraries/config-typescript/package.json
  libraries/config-vitest/package.json
  package.json
Due: pnpm run format:fix

fix: dockerization issues in progress
  .dockerignore
  .vscode/settings.json
  Dockerfile
  Dockerfile.next
  Dockerfile.node
  Dockerfile.react
  TODO.md
  apps/api/auth/jest.config.mjs
  apps/api/auth/jest.e2e.config.mjs
  apps/api/auth/src/main.ts
  apps/api/sample/jest.config.mjs
  apps/api/sample/jest.e2e.config.mjs
  apps/client/admin/cypress.config.mjs
  apps/client/admin/src/App.tsx
  apps/client/admin/src/__tests__/example.spec.tsx
  apps/client/admin/src/main.tsx
  apps/client/web/cypress.config.mjs
  apps/client/web/next.config.mjs
  apps/client/web/src/__tests__/example.spec.tsx
  apps/client/web/src/app/layout.tsx
  apps/client/web/src/app/page.tsx
  docker-compose.infra.yaml
  docker-compose.local.yaml
  docker-compose.remote.yaml
  libraries/config-prettier/nest.config.mjs
  libraries/config-prettier/react.config.mjs
  nginx/nginx.conf
  pnpm-lock.yaml
  turbo.json
Due: pnpm run lint:fix, pnpm run format:fix

fix: resolve dockerization issues
  Dockerfile.next
  apps/client/web/next.config.mjs
Due: pnpm run format:fix

chore: add database setup
  .vscode/settings.json
  apps/api/iam-service/.env.example
  apps/api/iam-service/package.json
  apps/api/iam-service/scripts/clean.mjs
  apps/api/iam-service/scripts/prebuild.mjs
  apps/api/iam-service/src/app.module.ts
  apps/api/iam-service/src/config/options.ts
  apps/api/iam-service/src/database/index.ts
  apps/api/iam-service/src/database/prisma.module.ts
  apps/api/iam-service/src/database/prisma.service.ts
  apps/api/iam-service/src/database/schema.prisma
  apps/api/iam-service/src/database/scripts/check-connection.ts
  apps/api/iam-service/src/database/seeders/index.ts
  apps/api/iam-service/src/enums/index.ts
  apps/api/iam-service/src/modules/web/health/health.controller.ts
  apps/api/iam-service/src/modules/web/health/interfaces/health.service.interface.ts
  apps/api/iam-service/src/modules/web/health/services/__tests__/health.service.spec.ts
  apps/api/iam-service/src/modules/web/health/services/health.service.ts
  apps/api/iam-service/src/modules/web/health/types/index.ts
  apps/api/iam-service/src/translations/en/translations.json
  apps/api/iam-service/tsconfig.build.json
  package.json
  packages/types-shared/package.json
  packages/types-shared/scripts/clean.mjs
  packages/types-shared/scripts/prebuild.mjs
  packages/utils-api/package.json
  packages/utils-api/scripts/clean.mjs
  packages/utils-api/scripts/prebuild.mjs
  packages/utils-api/src/enums/index.ts
  packages/utils-api/src/modules/common/__tests__/common.module.spec.ts
  packages/utils-api/src/modules/common/logger/__tests__/logger.module.spec.ts
  packages/utils-api/src/modules/common/logger/interfaces/logger.interface.ts
  packages/utils-api/src/modules/common/logger/loggers/__tests__/winston.logger.spec.ts
  packages/utils-api/src/modules/common/translator/__tests__/translator.module.spec.ts
  pnpm-lock.yaml
  turbo.json
Due: pnpm run lint:fix, pnpm run format:fix

fix: eslint warning in health.controller.spec.ts
  apps/api/iam-service/src/modules/web/health/__tests__/health.controller.spec.ts
Due: pnpm run lint:fix, pnpm run format:fix

chore(iam-service): add admin group table
  apps/api/iam-service/src/database/migrations/20250116042605_add_admin_group_table/migration.sql
  apps/api/iam-service/src/database/migrations/migration_lock.toml
  apps/api/iam-service/src/database/schema.prisma
  apps/api/iam-service/src/database/scripts/check-connection.ts
Due: pnpm run lint:fix, pnpm run format:fix

feat(iam-service): add create admin group endpoint
  apps/api/iam-service/.env.example
  apps/api/iam-service/package.json
  apps/api/iam-service/src/config/options.ts
  apps/api/iam-service/src/config/swagger.ts
  apps/api/iam-service/src/constants/endpoint.ts
  apps/api/iam-service/src/database/migrations/20250116204340_create_admin_groups_table/migration.sql
  apps/api/iam-service/src/database/schema.prisma
  apps/api/iam-service/src/enums/index.ts
  apps/api/iam-service/src/main.ts
  apps/api/iam-service/src/modules/web/admin/admin.module.ts
  apps/api/iam-service/src/modules/web/admin/constants/index.ts
  apps/api/iam-service/src/modules/web/admin/controllers/admin-group.controller.ts
  apps/api/iam-service/src/modules/web/admin/controllers/index.ts
  apps/api/iam-service/src/modules/web/admin/dtos/create-admin-group.dto.ts
  apps/api/iam-service/src/modules/web/admin/dtos/index.ts
  apps/api/iam-service/src/modules/web/admin/index.ts
  apps/api/iam-service/src/modules/web/admin/interfaces/admin-group.service.interface.ts
  apps/api/iam-service/src/modules/web/admin/interfaces/index.ts
  apps/api/iam-service/src/modules/web/admin/services/admin-group.service.ts
  apps/api/iam-service/src/modules/web/admin/services/index.ts
  apps/api/iam-service/src/modules/web/health/health.controller.ts
  apps/api/iam-service/src/modules/web/web.module.ts
  pnpm-lock.yaml
Due: pnpm run lint:fix, pnpm run format:fix

feat(iam-service): add update admin group endpoint
  apps/api/iam-service/src/constants/endpoint.ts
  apps/api/iam-service/src/modules/web/admin/controllers/admin-group.controller.ts
  apps/api/iam-service/src/modules/web/admin/dtos/index.ts
  apps/api/iam-service/src/modules/web/admin/dtos/update-admin-group.dto.ts
  apps/api/iam-service/src/modules/web/admin/interfaces/admin-group.service.interface.ts
  apps/api/iam-service/src/modules/web/admin/services/admin-group.service.ts
  packages/utils-api/src/config/options.ts
  packages/utils-api/src/core/decorators/index.ts
  packages/utils-api/src/core/decorators/validation/index.ts
  packages/utils-api/src/core/decorators/validation/is-atleast-one-field-provided.decorator.ts
  packages/utils-api/src/core/decorators/validation/trim-string.decorator.ts
  packages/utils-api/src/core/decorators/validation/validate-if-present.decorator.ts
  packages/utils-api/src/index.ts
  packages/utils-api/src/modules/common/logger/interfaces/logger.interface.ts
  packages/utils-api/src/modules/common/logger/loggers/winston.logger.ts
Due: pnpm run lint:fix, pnpm run format:fix

feat(iam-service): add soft delete admin group endpoint
  apps/api/iam-service/src/constants/endpoint.ts
  apps/api/iam-service/src/modules/web/admin/controllers/admin-group.controller.ts
  apps/api/iam-service/src/modules/web/admin/interfaces/admin-group.service.interface.ts
  apps/api/iam-service/src/modules/web/admin/services/admin-group.service.ts
Due: pnpm run lint:fix, pnpm run format:fix

feat(iam-service): add hard delete admin group endpoint
  apps/api/iam-service/src/constants/endpoint.ts
  apps/api/iam-service/src/modules/web/admin/controllers/admin-group.controller.ts
  apps/api/iam-service/src/modules/web/admin/interfaces/admin-group.service.interface.ts
  apps/api/iam-service/src/modules/web/admin/services/admin-group.service.ts
Due: pnpm run lint:fix, pnpm run format:fix

feat(iam-service): add restore admin group endpoint
  apps/api/iam-service/src/constants/endpoint.ts
  apps/api/iam-service/src/modules/web/admin/controllers/admin-group.controller.ts
  apps/api/iam-service/src/modules/web/admin/interfaces/admin-group.service.interface.ts
  apps/api/iam-service/src/modules/web/admin/services/admin-group.service.ts
Due: pnpm run lint:fix, pnpm run format:fix

feat(iam-service): implement repository pattern
  apps/api/iam-service/src/database/index.ts
  apps/api/iam-service/src/database/interfaces/base-prisma-service.interface.ts
  apps/api/iam-service/src/database/interfaces/index.ts
  apps/api/iam-service/src/database/services/admin-group.service.ts
  apps/api/iam-service/src/database/services/base-prisma.service.ts
  apps/api/iam-service/src/database/services/index.ts
  apps/api/iam-service/src/modules/web/admin/controllers/admin-group.controller.ts
  apps/api/iam-service/src/modules/web/admin/interfaces/admin-group.service.interface.ts
  apps/api/iam-service/src/modules/web/admin/services/admin-group.service.ts
  apps/api/iam-service/src/types/database.types.ts
  apps/api/iam-service/src/types/index.ts
Due: pnpm run lint:fix, pnpm run format:fix

fix(iam-service): admin group dto decorators
  apps/api/iam-service/src/modules/web/admin/dtos/create-admin-group.dto.ts
  apps/api/iam-service/src/modules/web/admin/dtos/update-admin-group.dto.ts
Due: pnpm run lint:fix, pnpm run format:fix

feat(iam-service): add admin group list endpoint
  apps/api/iam-service/src/constants/endpoint.ts
  apps/api/iam-service/src/database/interfaces/base-prisma-service.interface.ts
  apps/api/iam-service/src/database/services/base-prisma.service.ts
  apps/api/iam-service/src/modules/web/admin/controllers/admin-group.controller.ts
  apps/api/iam-service/src/modules/web/admin/dtos/get-admin-group-list.dto.ts
  apps/api/iam-service/src/modules/web/admin/dtos/index.ts
  apps/api/iam-service/src/modules/web/admin/interfaces/admin-group.service.interface.ts
  apps/api/iam-service/src/modules/web/admin/services/admin-group.service.ts
  packages/types-shared/src/enums/index.ts
  packages/types-shared/src/types/index.ts
  packages/utils-api/package.json
  packages/utils-api/src/common/pagination/constants/index.ts
  packages/utils-api/src/common/pagination/decorators/index.ts
  packages/utils-api/src/common/pagination/decorators/is-sort-by-object.decorator.ts
  packages/utils-api/src/common/pagination/dtos/cursor-pagination.dto.ts
  packages/utils-api/src/common/pagination/dtos/index.ts
  packages/utils-api/src/common/pagination/dtos/offset-pagination.dto.ts
  packages/utils-api/src/common/pagination/enums/index.ts
  packages/utils-api/src/common/pagination/index.ts
  packages/utils-api/src/core/decorators/validation/index.ts
  packages/utils-api/src/core/decorators/validation/parse-boolean.decorator.ts
  packages/utils-api/src/core/decorators/validation/parse-json.decorator.ts
  packages/utils-api/src/core/decorators/validation/parse-number.decorator.ts
  packages/utils-api/src/index.ts
  pnpm-lock.yaml
Due: pnpm run lint:fix, pnpm run format:fix

feat(iam-service): add get single admin group endpoint
  apps/api/iam-service/src/constants/endpoint.ts
  apps/api/iam-service/src/modules/web/admin/controllers/admin-group.controller.ts
  apps/api/iam-service/src/modules/web/admin/interfaces/admin-group.service.interface.ts
  apps/api/iam-service/src/modules/web/admin/services/admin-group.service.ts
Due: pnpm run lint:fix, pnpm run format:fix

feat(iam-service): add admin and user account table
  apps/api/iam-service/src/database/migrations/20250206190240_create_admin_and_user_account_tables/migration.sql
  apps/api/iam-service/src/database/schema.prisma
Due: none

feat(iam-service): add create admin endpoint
  apps/api/iam-service/src/constants/endpoint.ts
  apps/api/iam-service/src/database/index.ts
  apps/api/iam-service/src/database/services/admin-group.service.ts
  apps/api/iam-service/src/database/services/base-admin.service.ts
  apps/api/iam-service/src/database/services/base-user-account.service.ts
  apps/api/iam-service/src/database/services/index.ts
  apps/api/iam-service/src/modules/web/admin/admin.module.ts
  apps/api/iam-service/src/modules/web/admin/constants/index.ts
  apps/api/iam-service/src/modules/web/admin/controllers/admin.controller.ts
  apps/api/iam-service/src/modules/web/admin/controllers/index.ts
  apps/api/iam-service/src/modules/web/admin/dtos/create-admin.dto.ts
  apps/api/iam-service/src/modules/web/admin/dtos/index.ts
  apps/api/iam-service/src/modules/web/admin/interfaces/admin-group.service.interface.ts
  apps/api/iam-service/src/modules/web/admin/interfaces/admin.service.interface.ts
  apps/api/iam-service/src/modules/web/admin/interfaces/index.ts
  apps/api/iam-service/src/modules/web/admin/services/admin.service.ts
  apps/api/iam-service/src/modules/web/admin/services/index.ts
  apps/api/iam-service/src/modules/web/auth/auth.module.ts
  apps/api/iam-service/src/modules/web/auth/constants/index.ts
  apps/api/iam-service/src/modules/web/auth/dtos/create-user-account.dto.ts
  apps/api/iam-service/src/modules/web/auth/dtos/index.ts
  apps/api/iam-service/src/modules/web/auth/index.ts
  apps/api/iam-service/src/modules/web/auth/interfaces/index.ts
  apps/api/iam-service/src/modules/web/auth/interfaces/user-account.service.interface.ts
  apps/api/iam-service/src/modules/web/auth/services/index.ts
  apps/api/iam-service/src/modules/web/auth/services/user-account.service.ts
  apps/api/iam-service/src/modules/web/web.module.ts
  packages/utils-api/src/modules/common/hash/hash.module.ts
Due: pnpm run lint:fix, pnpm run format:fix

infra(api-gateway): setup api gateway
  apps/api/api-gateway/kong.yml
  docker-compose.infra.yaml
  package.json
Due: pnpm run format:fix

infra: setup minio docker container
  docker-compose.infra.yaml
Due: none

chore(utils-api): add cron job module
  apps/api/iam-service/src/__tests__/health/chechHealth.e2e-spec.ts
  apps/api/iam-service/src/app.module.ts
  apps/api/iam-service/src/config/__tests__/options.spec.ts
  apps/api/iam-service/src/config/options.ts
  apps/api/iam-service/src/modules/web/__tests__/web.module.spec.ts
  apps/api/iam-service/src/modules/web/health/__tests__/health.controller.spec.ts
  apps/api/iam-service/src/modules/web/health/__tests__/health.module.spec.ts
  apps/api/storage-service/src/app.module.ts
  apps/api/storage-service/src/config/options.ts
  apps/api/storage-service/src/database/models/file-operation.model.ts
  apps/api/storage-service/src/database/models/file-registry.model.ts
  apps/api/storage-service/src/modules/web/storage/services/s3-storage.service.ts
  apps/api/storage-service/src/modules/web/storage/storage.controller.ts
  packages/utils-api/package.json
  packages/utils-api/src/index.ts
  packages/utils-api/src/modules/common/__tests__/common.module.spec.ts
  packages/utils-api/src/modules/common/common.module.ts
  packages/utils-api/src/modules/common/cron-job/constants/index.ts
  packages/utils-api/src/modules/common/cron-job/cron-job.module.ts
  packages/utils-api/src/modules/common/cron-job/enums/index.ts
  packages/utils-api/src/modules/common/cron-job/index.ts
  packages/utils-api/src/modules/common/cron-job/interfaces/cron-job.scheduler.interface.ts
  packages/utils-api/src/modules/common/cron-job/interfaces/cron-job.service.interface.ts
  packages/utils-api/src/modules/common/cron-job/interfaces/cron-job.task.interface.ts
  packages/utils-api/src/modules/common/cron-job/interfaces/index.ts
  packages/utils-api/src/modules/common/cron-job/schedulers/index.ts
  packages/utils-api/src/modules/common/cron-job/schedulers/nest-schedule.scheduler.ts
  packages/utils-api/src/modules/common/cron-job/services/cron-job.service.ts
  packages/utils-api/src/modules/common/cron-job/services/index.ts
  packages/utils-api/src/modules/common/cron-job/types/index.ts
  packages/utils-api/src/modules/common/logger/__tests__/logger.module.spec.ts
  packages/utils-api/src/modules/common/translator/__tests__/translator.module.spec.ts
  packages/utils-api/src/modules/common/types/index.ts
  packages/utils-shared/prettier.config.mjs
  packages/utils-shared/scripts/clean.mjs
  packages/utils-shared/scripts/prebuild.mjs
  pnpm-lock.yaml
Due: pnpm run lint:fix, pnpm run format:fix

refactor(iam-service,storage-service): sort imports and quick fix
  apps/api/iam-service/public/.well-known/jwks.json
  apps/api/iam-service/src/modules/web/auth/services/auth.service.ts
  apps/api/iam-service/src/modules/web/permission/index.ts
  apps/api/storage-service/.env.example
  apps/api/storage-service/src/app.module.ts
  apps/api/storage-service/src/config/options.ts
  apps/api/storage-service/src/enums/index.ts
  packages/utils-api/src/modules/common/auth/strategies/refresh-token.strategy.ts
  packages/utils-api/src/modules/common/auth/types/index.ts
  packages/utils-api/src/modules/common/cache/types/index.ts
Due: pnpm run lint:fix, pnpm run format:fix

feat(utils-api): add message broker module
  packages/utils-api/package.json
  packages/utils-api/src/modules/common/message-broker/brokers/base.broker.ts
  packages/utils-api/src/modules/common/message-broker/brokers/index.ts
  packages/utils-api/src/modules/common/message-broker/brokers/kafka.broker.ts
  packages/utils-api/src/modules/common/message-broker/brokers/rabbitmq.broker.ts
  packages/utils-api/src/modules/common/message-broker/constants/index.ts
  packages/utils-api/src/modules/common/message-broker/decorators/index.ts
  packages/utils-api/src/modules/common/message-broker/decorators/inject-message-broker.decorator.ts
  packages/utils-api/src/modules/common/message-broker/enums/index.ts
  packages/utils-api/src/modules/common/message-broker/index.ts
  packages/utils-api/src/modules/common/message-broker/interfaces/index.ts
  packages/utils-api/src/modules/common/message-broker/interfaces/message-broker.interface.ts
  packages/utils-api/src/modules/common/message-broker/message-broker.module.ts
  packages/utils-api/src/modules/common/message-broker/types/index.ts
  pnpm-lock.yaml
Due: pnpm run lint:fix, pnpm run format:fix
